﻿@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Use this area to provide additional information.</p>

<form action="/" method="post">


    Text <input type="type" name="name" value="" />
    Password <input type="password" name="name" value="" />
    <br>

           <input type="radio" name="gender" value="" />man<br>
           <input type="radio" name="gender" value="" />woman



</form>
